body {
    background-color: #f0f0f0;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #155724;
}

.description {
    font-size: 18px;
    margin-top: 10px;
}

.project-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #155724;
}

.project-description {
    font-size: 16px;
    margin-top: 10px;
}

.supabase-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #155724;
}

.supabase-description {
    font-size: 16px;
    margin-top: 10px;
}

.description, .supabase-description, .project-description{
    font-family: "Merriweather", "Georgia", serif;
    line-height: 40px;
}