<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  
    <a class="navbar-brand" href="#" style="margin-left: 50px;">
      <mat-icon class="navbar-brand_icon">format_quote</mat-icon>
      <span class="navbar-brand_span">Quotes</span>
    </a>
      
    <!-- <img src="./assets/quotes.png"> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="quotes">My Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="community">Community Quotes</a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-danger my-2 my-sm-0 logout" type="submit" style="margin-right: 30px;" (click)="signOut()">
      <span class="logout-span">Log Out</span>
      <mat-icon class="logout-icon">exit_to_app</mat-icon>
      
    </button>
  </nav>