.popup-container {
    position: fixed;
    top: 50%; /* Ajusta la posición verticalmente */
    left: 50%; /* Ajusta la posición horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Asegura que el popup esté por encima del resto de elementos */
    border-radius: 30px;
    font-size: 18px;
}

.popup-container-textarea {
    resize: none;
    height: 110px;
}

.font-family{
font-family: "Merriweather", "Georgia", serif;
margin-top: 10px;
}

.button{
    width: 100%;
}




.color-picker {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(2, 50px);
    user-select: none;
    margin-bottom: 20px;
}


.color {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.selected {
    border: 2.5px solid white;
}