<div class="popup-container" style="width: 500px;">
<form [formGroup]="newQuoteForm" (ngSubmit)="addQuote()">
    <div class="col-auto">
        <label class="sr-only" for="exampleFormControlTextarea1">Quote</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
          </div>
          <textarea formControlName="Description" class="form-control popup-container-textarea font-family" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="dataQuote.Description"></textarea>
        </div>
      </div>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Author</label>
        <input formControlName="Author" type="text" class="form-control mb-2 font-family" id="inlineFormInput" placeholder="Anonymous" [(ngModel)]="dataQuote.Author">
      </div>

      <div class="col-auto">
      </div>
      <div class="col-auto">  
        <button type="submit" class="btn btn-success mb-2 button">{{dataQuote.button}}</button>
      </div>
    </div>
  </form>
</div>