.quote-container{
    position: relative;
    margin: 50px;
    background-color: #F3E5AB;
    border-radius: 30px;
    width: auto;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    font-size: 22px;
    padding: 38px;
    transition: height 0.3s ease;
    font-family: "Merriweather", "Georgia", serif
}
.novisible {
    animation: fadeOutAnimation 0.5s ease;
    opacity: 0;
}

@keyframes fadeOutAnimation {
    from {
    opacity: 1;
    }
    to {
    opacity: 0;
    }
}
.newquote:hover{
    background-color: #e6ffe6;
}
.newquote{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transition: background-color 0.5s ease;
    z-index: 10;
}
.newquote-add, .newquote-span{
    color: #155724;
}


.quote-container_description{
    display: block;   
    line-height: 40px;
}

.quote-container_author{
    text-align: right;
    margin-right: 50px;
    font-size: 18px;
    line-height: 40px;
}

.quote-container_menu{
    position: absolute;
    top: 5px;
    right: 5px;
}

.quote-container_menu_delete_icon, .quote-container_menu_delete_span{
    transition: color 0.3s ease;
}
.quote-container_menu_delete:hover .quote-container_menu_delete_icon {
    color: #ff5c33;
}

.quote-container_menu_delete:hover .quote-container_menu_delete_span {
    color: #ff5c33;
}

.advice{
    font-size: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 50px;
    color: #155724;
    font-family: "Merriweather", "Georgia", serif;
}